body{
		margin:0px auto;
		width:600px;
	}
	#app h1{font-size:2.5em; margin-top: 0px;margin-bottom: 0px;}
	#app{
		border-radius:5px;
		border:1px solid #000000;
		padding:20px;
	}

	#app li{margin-top:10px;}
	#app #new_todo{margin-bottom:20px; width:260px; height: 20px; }
	ul.todos {
		margin:15px;
		list-style: :none;
		font-size:1.6em;
		padding-top: 20px;
	}